<!DOCTYPE html>
<html>
<head>
    <title>Symposiarch: Taking Sample</title>
</head>
<body>
Breathe into the breathalyzer...<br>
Sampling data for <div id="countdown">5</div> seconds...
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
    var seconds;
    function refresh() {
        if (seconds === 0) {
            clearInterval(interval);
            document.getElementById('countdown').innerHTML = '...';
            return;
        }
        if (typeof seconds === 'undefined') {
            seconds = document.getElementById('countdown').innerHTML;
        }
        document.getElementById('countdown').innerHTML = --seconds + '';
    }
    var interval = setInterval(refresh, 1000);
    $(function() {
        $.ajax({
            url : 'record',
            dataType : 'json'
        }).done(function(data) {
           location.href = 'recommendation?x='+(new Date().getTime())+'&bac='+data.bac;
        });
    });
</script>
</html>
